.col-6{
 
}
.loginsystem{
    margin-left: 30%;
}
.login{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 38%;
    color: #CD5C5C;
 
}
.btn-danger{
   width: 50%;
}
.btn-warning{
    width: 50%;
}
